/.idea
/codegen
tmp/
/structs2schema
/structs2bindings
/structs2interface
/cmd/codegengui/rcc_cgo_linux_linux_amd64.go
/cmd/codegengui/rcc.cpp
/cmd/codegengui/rcc.qrc
/cmd/codegengui/moc.go
/cmd/codegengui/moc.h
/cmd/codegengui/moc_moc.h
/cmd/codegengui/moc.cpp
/cmd/codegengui/moc_cgo_linux_linux_amd64.go
/qt-opensource-linux-x64-5.11.1.run
/cmd/codegengui/deploy/
